*.iml
.gradle
/local.properties
/.idea/*
!/.idea/runConfigurations
/.idea/runConfigurations/*
!/.idea/runConfigurations.xml
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
